In [15]:
import seaborn as sns

In [16]:
import pandas as pd
icu = pd.read_csv("ICUData.csv")
icu

,ID,sex,age,surgery,heart rate,temperature,bilirubin,SAPS II,liver failure,LOS,outcome
0,1,female,76,other,98.0,36.5,6.512142,57,0,1,died
1,2,female,60,gastrointestinal,80.0,38.1,14.523197,52,0,2,home
2,3,male,66,cardiothoracic,99.6,37.4,22.972480,57,0,1,secondary care/rehab
3,4,male,74,other,110.0,39.1,19.299346,45,0,2,home
4,5,female,68,other,94.1,38.5,39.076485,49,0,1,home
...,...,...,...,...,...,...,...,...,...,...,...
495,496,male,62,cardiothoracic,118.0,37.3,13.234537,33,0,1,secondary care/rehab
496,497,male,67,cardiothoracic,115.0,38.0,10.740772,56,0,1,died
497,498,female,53,cardiothoracic,131.0,37.9,14.131188,38,0,3,secondary care/rehab
498,499,male,68,other,86.9,36.0,9.596478,66,0,2,home
499,500,male,75,cardiothoracic,92.0,37.6,11.660875,25,0,1,secondary care/rehab

In [17]:
### Metric Değişkenler
Tek Değişkenli (Univariate) Analiz
- Mesafeler ve hatta oranlar tanımlandığından, metrik değişkenler durumunda daha ileri analizler mümkündür. 
Açıkça belirtilmediği takdirde, tanıtılan analizler aralık ve oran ölçekli değişkenler için de mümkündür.
Muhtemelen verileri tanımlamak için en sık kullanılan istatistik aritmetik ortalamadır.
- Bu bölümde yine icu veri seti kullanılmaktadır. YBÜ'de kalınan süre boyunca maksimum 
vücut sıcaklığının aritmetik ortalamasını bulalım.

SyntaxError: invalid syntax (3154282715.py, line 2)

In [ ]:
icu.temperature.mean()

In [ ]:
Yani, aritmetik ortalama normal aralığın sadece biraz üzerindedir. Aritmetik ortalamayı virgülden sonra tek basamağa yuvarlamak için round fonksiyonu kullanılır.

In [ ]:
round(icu.temperature.mean(), 1)

In [ ]:
Aritmetik ortalamanın her zaman medyan ile karşılaştırılması tavsiye edilir, çünkü medyan verilerin ortasının başka bir tanımını verir ve aykırı değerlere karşı çok sağlamdır

In [ ]:
import numpy as np
import statistics as st
np.median(icu.temperature)
st.median(icu.temperature)

In [ ]:
Medyan ve aritmetik ortalama aynı kabul edilebileceğinden, 
maksimum vücut sıcaklığı dağılımının aritmetik ortalama (medyan)
etrafında oldukça simetrik olması muhtemeldir. Buna ek olarak, ya hiç 
aykırı değer yoktur ya da pozitif ve negatif aykırı değerler birbirini 
nötralize etmektedir. Gün cinsinden verilen LOS (kalış süresi) değişkenini 
kullanarak analizi tekrar edelim.

In [ ]:
sns.histplot(icu.temperature, kde=True)

In [ ]:
import plotly.express as px
px.box(icu.temperature)

In [ ]:
print(f"mean : {round(np.mean(icu.LOS), 1)}")
print(f"median : {np.median(icu.LOS)}")

In [ ]:
- Bu durumda, aritmetik ortalama ile medyan arasında açık bir fark görüyoruz. Ya LOS dağılımı çarpıktır (daha doğrusu sağa çarpıktır ya da aritmetik ortalamayı sağa çeken aykırı değerler vardır).

In [ ]:
sns.histplot(icu.LOS, kde=True)

In [ ]:
- Verilerin diyagramlarını ele aldığımız aşağıda bu iki durumu ayırt edebileceğiz. Bir diğer konum parametresi, göreceli değişiklikler durumunda uygulanan geometrik ortalamadır. Bu konum ölçüsü yalnızca kesin pozitif veriler için anlamlı bir şekilde tanımlanır.

![image](figure10.png)

Aşağıdaki açıklamada, geometrik ve aritmetik ortalama arasındaki önemli bir bağlantı açıklanmaktadır.

![image](figure11.png)

Yani, logaritması alınmış gözlemlerin aritmetik ortalaması, logaritma tabanının önemsiz olduğu geometrik ortalamanın logaritmasına eşittir. Doğal logaritma (ln) seçilirse, e-fonksiyonu  uygulanarak yazılabilir.

![image](figure12.png)

Üstel bir büyüme veya azalma izleyen süreçler gözlemleniyorsa, verilerin logaritmasını almak ve logaritması alınmış gözlemleri analiz etmek genellikle daha kolaydır. Bu durum örneğin icu veri setinde yer alan bilirubin ölçümleri için geçerlidir.

In [ ]:
sns.histplot(icu.bilirubin, kde=True)

In [ ]:
import statsmodels.api as sm
sm.qqplot(icu.bilirubin)